<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .navbar{
      background-color: darkblue;
      color: white;
    }
   
    .bg{
      background-color: rgb(202, 219, 225);
    }
    

    
    button {
      background-color:darkblue;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
      .container {
      padding: 15px;
      width: 30%;
      background-color: white;
    }
    
   
    
    
  </style>
</head>
<body class="bg">
 
    <nav class="navbar navbar ">
        <div class="container-fluid">

            <div class="row">
             <div class="col-sm-4"><div class="navbar-header" >
                
              </div></div>
              
            </nav></div>
          
           
            <div class="container">
                <h3>Are you sure.. You want to logout?</h3>
                <a href="{% url 'login' %}">Yes</a>
            </div>
        
</body>
</html>





